.switcheOn, .switcheOff, .powerOn, .powerOff{
  @include dimension(50px, auto);
  margin-left: 20px;
}
.tvOn, .tvOff{
  @include dimension(300px, auto);
  transition: transform 1s;
  transition-timing: ease-in-out;
  &:hover{
  -ms-transform: matrix(1, -0.3, 0, 1, 0, 0); /* IE 9 */
  transform: matrix(1, -0.3, 0, 1, 0, 0); /* Standard syntax */
  // margin-left: 20px;
}
}
